<!DOCTYPE html>
<html ng-app="todoApp" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>ToDo List</title>
</head>
<body>
    <main>
        <section ng-controller="ToDoController as $ctrl">
            <form>
                    <p class="title">TODO List</p>
                    <p class="info">A place to store things you hvae to do!</p>
                    <input type="text" placeholder="Filter your to-dos">
    
                    <ol>
                        <div>
                            <li ng-repeat="todo in $ctrl.tasks">
                                <button ng-if="!todo.completed">Complete</button>
                                <p ng-class="{'completed': todo.completed}">{{ todo.task }}</p>
                                <a href=""><i class="fas fa-times"></i></a> 
                            </li> 
                        </div>
                    </ol>
                
                <input type="text" placeholder="Add your to-dos">
                <button class="add">Add</button>
            </form>
        </section>
    </main>
    
    <script src="https://code.angularjs.org/1.6.5/angular.js"></script>
    <script src="apps/app.module.js"></script>
    <script src="apps/app.controller.js"></script>
</body>
</html>